.main{
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 50px;
}

.employeeCard{
  text-align: center;
  width: 500px;
}

.employeeCard img {
  width: 250px;
  border-radius: 100%;
}

.employeeNameCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 60px;
  background-color: #f1f1f1;
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.employeeNameCard:hover{
  cursor: pointer;
}

.employeeName {
  
  padding: 16px;
  text-align: center;
  color: black;
}